<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamr Games</title>
</head>
<body>
    <h1>Games</h1>
    <a href="/users/logout">Log Out</a> 

    ${games.map((game) => {
        return `
        <div>
            <h3>${game.name}</h3>
            <h4>Genre: ${game.genre} | Platform: ${game.Platform}</h4>
        </div>
        `
    }).join('')}

</body>
</html>